{% extends "index.html" %}
{% load static %}
{% block content %}
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});"></div>
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title">Blog grid 02</h2>
                    <ul class="aigence-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>Our Blog</span></li>
                    </ul><!-- /.aigence-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="blog-page section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Ai Agency</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">10 Easy Strategies to Harness the Power of AI</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">There are many variations of passages of one Lorem Ipsum available</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-1.png' %}" alt="Michale Smith" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Michale Smith</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-1.jpg' %}" alt="10 Easy Strategies to Harness the Power of AI">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Business</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">Best Simple Ways to Leverage AI Effectively</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">Discover digital art installations and interactive exhibits that tell the</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-2.png' %}" alt="Ronald Richards" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Ronald Richards</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-2.jpg' %}" alt="Best Simple Ways to Leverage AI Effectively">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Robotic</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">My Capacity Is Full We're Building The Plane</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">Agile loop back identify pain points, yet root-and-branch review, yet</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-3.png' %}" alt="Kevin Martin" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Kevin Martin</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-3+.jpg' %}" alt="My Capacity Is Full We're Building The Plane">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Ai Agency</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">This Your Service Network Partnerships Blog</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">There are many variations of passages of one Lorem Ipsum available</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-1.png' %}" alt="Michale Smith" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Michale Smith</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-4.jpg' %}" alt="This Your Service Network Partnerships Blog">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='100ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Business</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">Nail jelly to the hothouse wall pixel pushing</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">Discover digital art installations and interactive exhibits that tell the</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-2.png' %}" alt="Ronald Richards" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Ronald Richards</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-5.jpg' %}" alt="Nail jelly to the hothouse wall pixel pushing">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="blog-card-two wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='200ms'>
                            <div class="blog-card-two__shape"></div>
                            <div class="blog-card-two__content">
                                <a href="{% url 'blog_grid_2' %}" class="blog-card-two__category">Robotic</a>
                                <h3 class="blog-card-two__title">
                                    <a href="{% url 'blog_grid_2' %}">Big data are there any leftovers in the kitchen</a>
                                </h3><!-- /.blog-card-two__title -->
                                <p class="blog-card-two__text">Agile loop back identify pain points, yet root-and-branch review, yet</p><!-- /.blog-card-two__text -->
                            </div><!-- /.blog-card-two__content -->
                            <div class="blog-card-two__meta list-unstyled">
                                <div class="blog-card-two__admin">
                                    <img src="{% static 'images/blog/blog-admin-2-3.png' %}" alt="Kevin Martin" class="blog-card-two__admin__image">
                                    <h4 class="blog-card-two__admin__name">Kevin Martin</h4>
                                </div><!-- /.blog-card-two__admin -->
                                <div class="blog-card-two__date">
                                    <span class="blog-card-two__date__day">02</span>
                                    <span class="blog-card-two__date__month">Jan</span>
                                </div><!-- /.blog-card-two__date -->
                            </div><!-- /.blog-card-two__meta -->
                            <div class="blog-card-two__image">
                                <img src="{% static 'images/blog/blog-2-6.jpg' %}" alt="Big data are there any leftovers in the kitchen">
                            </div><!-- /.blog-card-two__image -->
                        </div><!-- /.blog-card-two -->
                    </div><!-- /.col-lg-4 col-md-6 -->
                    <div class="col-12">
                        <div class="post-pagination wow fadeInUp" data-wow-duration="1500ms">
                            <a href="#" class="post-pagination__btn post-pagination__btn--icon">
                                <i class="icon-left-arrow-2"></i>
                            </a>
                            <a href="#" class="post-pagination__btn active">1</a>
                            <a href="#" class="post-pagination__btn">2</a>
                            <a href="#" class="post-pagination__btn">3</a>
                            <a href="#" class="post-pagination__btn post-pagination__btn--icon post-pagination__btn--icon-right">
                                <i class="icon-right-arrow-2"></i>
                            </a>
                        </div><!-- /.post-pagination -->
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-page -->

        <section class="newsletter ">
            <div class="newsletter__wrapper">
                <div class="newsletter__inner">
                    <div class="newsletter__bg" style="background-image: url({% static 'images/shapes/newsletter-bg-shape-1-1.png' %});"></div><!-- /.newsletter__bg -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-1 order-lg-0 wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="newsletter__image">
                                    <img src="{% static 'images/resources/newsletter-1-1.png' %}" alt="newsletter">
                                </div><!-- /.newsletter__image -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6 order-0 order-lg-1 wow fadeInUp" data-wow-duration="1500ms">
                                <div class="newsletter__content">
                                    <h2 class="sec-title bw-split-in-left">Join our AI-driven Creative Community!</h2><!-- /.sec-title -->
                                    <div class="customers">
                                        <div class="customers__inner">
                                            <div class="customers__image">
                                                <img src="{% static 'images/resources/customer-1.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-2.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-3.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-4.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-5.png' %}" alt="customer">
                                            </div><!-- /.customers__image -->
                                        </div><!-- /.customers__inner -->
                                        <p class="customers__text">3860 weekly subscribe</p>
                                    </div><!-- /.customers -->
                                    <form action="#" data-url="MAILCHIMP_FORM_URL" class="newsletter__form mc-form">
                                        <input type="email" name="EMAIL" placeholder="Email Address">
                                        <button type="submit" class="aigence-btn">
                                            <span class="aigence-btn__text">Subscribe</span>
                                        </button>
                                    </form><!-- /. mc-form -->
                                    <div class="mc-form__response"></div><!-- /.mc-form__response -->
                                    <div class="newsletter__check-box">
                                        <input type="checkbox" name="agree" id="agree">
                                        <label for="agree">I Agree To The Terms, Privacy Policy.<span></span></label>
                                    </div><!-- /.newsletter__check-box -->
                                </div><!-- /.newsletter__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.container -->
                    <img src="{% static 'images/shapes/newsletter-shape-1-1.png' %}" alt="shape" class="newsletter__shape">
                </div><!-- /.newsletter__inner -->
            </div><!-- /.newsletter__wrapper -->
        </section><!-- /.newsletter -->
{% endblock %}
