{% extends "index.html" %}
{% load static %}
{% block content %}
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});"></div>
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title">Products</h2>
                    <ul class="aigence-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>Our Products</span></li>
                    </ul><!-- /.aigence-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="blog-page blog-page--list section-space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row gutter-y-40">
                            <div class="col-md-12">
                                <div class="blog-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                                    <div class="blog-card-three__image">
                                        <img src="{% static 'images/products/Employee.png' %}" alt="10 Easy Strategies to Harness the Power of AI.">
                                        <div class="blog-card-three__date">
                                            <span class="blog-card-three__date__day">30</span>
                                            <span class="blog-card-three__date__month">June</span>
                                        </div><!-- /.blog-card-three__date -->
                                    </div><!-- /.blog-card-three__image -->
                                    <div class="blog-card-three__content">
                                        <ul class="blog-card-three__meta list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-user-2"></i></span>
                                                    By Admin
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-bubble-chat"></i></span>
                                                    2 Comment
                                                </a>
                                            </li>
                                        0</ul><!-- /.blog-card-three__meta -->
                                        <h3 class="blog-card-three__title"><a href="{% url 'blog_grid_2' %}">Infinite Employee - HRMS</a></h3><!-- /.blog-card-three__title -->
                                        <p class="blog-card-three__text">There are many variations of passages agency we have covered many special events such as fireworks, fairs, parades, races, walks, a Lorem Ipsum Fasts injecte dedicated product design team can help you achieve your business goals. Whether you need.</p><!-- /.blog-card-three__text -->
                                        <a href="{% url 'blog_grid_2' %}" class="blog-card-three__btn">
                                            <span class="blog-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                        </a><!-- /.blog-card__btn -->
                                    </div><!-- /.blog-card-three__content -->
                                </div><!-- /.blog-card-three -->
                            </div><!-- /.col-md-12 -->
                            <div class="col-md-12">
                                <div class="blog-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                                    <div class="blog-card-three__image">
                                        <img src="{% static 'images/products/society.png' %}" alt="Best Simple Ways to Leverage AI Effectively.">
                                        <div class="blog-card-three__date">
                                            <span class="blog-card-three__date__day">30</span>
                                            <span class="blog-card-three__date__month">June</span>
                                        </div><!-- /.blog-card-three__date -->
                                    </div><!-- /.blog-card-three__image -->
                                    <div class="blog-card-three__content">
                                        <ul class="blog-card-three__meta list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-user-2"></i></span>
                                                    By Admin
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-bubble-chat"></i></span>
                                                    2 Comment
                                                </a>
                                            </li>
                                        </ul><!-- /.blog-card-three__meta -->
                                        <h3 class="blog-card-three__title"><a href="{% url 'blog_grid_2' %}">Infinite Society Management System</a></h3><!-- /.blog-card-three__title -->
                                        <p class="blog-card-three__text">We are a non-profit organization. Can you please change the color theme of the website to pink and purple? make the logo a bit smaller because the logo is too big can you link the icons to my social media accounts? oh and please put pictures of cats everywhere.</p><!-- /.blog-card-three__text -->
                                        <a href="{% url 'blog_grid_2' %}" class="blog-card-three__btn">
                                            <span class="blog-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                        </a><!-- /.blog-card__btn -->
                                    </div><!-- /.blog-card-three__content -->
                                </div><!-- /.blog-card-three -->
                            </div><!-- /.col-md-12 -->
                            <div class="col-md-12">
                                <div class="blog-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                                    <div class="blog-card-three__image">
                                        <img src="{% static 'images/products/shopping.png' %}" alt="We Should Leverage Existing Asserts That Ladder Up to.">
                                        <div class="blog-card-three__date">
                                            <span class="blog-card-three__date__day">30</span>
                                            <span class="blog-card-three__date__month">June</span>
                                        </div><!-- /.blog-card-three__date -->
                                    </div><!-- /.blog-card-three__image -->
                                    <div class="blog-card-three__content">
                                        <ul class="blog-card-three__meta list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-user-2"></i></span>
                                                    By Admin
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-bubble-chat"></i></span>
                                                    2 Comment
                                                </a>
                                            </li>
                                        </ul><!-- /.blog-card-three__meta -->
                                        <h3 class="blog-card-three__title"><a href="{% url 'blog_grid_2' %}">Infinite shopping Mall</a></h3><!-- /.blog-card-three__title -->
                                        <p class="blog-card-three__text">I have an awesome idea for a startup, i need you to build it for me, nor can you use a high definition screenshot im not sure, try something else, and can you please change the color theme of the website to pink and purple? make the logo a bit smaller.</p><!-- /.blog-card-three__text -->
                                        <a href="{% url 'blog_grid_2' %}" class="blog-card-three__btn">
                                            <span class="blog-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                        </a><!-- /.blog-card__btn -->
                                    </div><!-- /.blog-card-three__content -->
                                </div><!-- /.blog-card-three -->
                            </div><!-- /.col-md-12 -->

                            <div class="col-md-12">
                                <div class="blog-card-three wow fadeInUp" data-wow-duration='1500ms' data-wow-delay='00ms'>
                                    <div class="blog-card-three__image">
                                        <img src="{% static 'images/products/family.png' %}" alt="We Should Leverage Existing Asserts That Ladder Up to.">
                                        <div class="blog-card-three__date">
                                            <span class="blog-card-three__date__day">30</span>
                                            <span class="blog-card-three__date__month">June</span>
                                        </div><!-- /.blog-card-three__date -->
                                    </div><!-- /.blog-card-three__image -->
                                    <div class="blog-card-three__content">
                                        <ul class="blog-card-three__meta list-unstyled">
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-user-2"></i></span>
                                                    By Admin
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="blog-card-three__meta__icon"><i class="icon-bubble-chat"></i></span>
                                                    2 Comment
                                                </a>
                                            </li>
                                        </ul><!-- /.blog-card-three__meta -->
                                        <h3 class="blog-card-three__title"><a href="{% url 'blog_grid_2' %}">Infinite Family Tree</a></h3><!-- /.blog-card-three__title -->
                                        <p class="blog-card-three__text">I have an awesome idea for a startup, i need you to build it for me, nor can you use a high definition screenshot im not sure, try something else, and can you please change the color theme of the website to pink and purple? make the logo a bit smaller.</p><!-- /.blog-card-three__text -->
                                        <a href="{% url 'blog_grid_2' %}" class="blog-card-three__btn">
                                            <span class="blog-card-three__btn__icon"><i class="icon-right-arrow"></i></span>
                                        </a><!-- /.blog-card__btn -->
                                    </div><!-- /.blog-card-three__content -->
                                </div><!-- /.blog-card-three -->
                            </div><!-- /.col-md-12 -->

                            <div class="col-12">
                                <div class="post-pagination wow fadeInUp" data-wow-duration="1500ms">
                                    <a href="#" class="post-pagination__btn post-pagination__btn--icon">
                                        <i class="icon-left-arrow-2"></i>
                                    </a>
                                    <a href="#" class="post-pagination__btn active">1</a>
                                    <a href="#" class="post-pagination__btn">2</a>
                                    <a href="#" class="post-pagination__btn">3</a>
                                    <a href="#" class="post-pagination__btn post-pagination__btn--icon post-pagination__btn--icon-right">
                                        <i class="icon-right-arrow-2"></i>
                                    </a>
                                </div><!-- /.post-pagination -->
                            </div><!-- /.col-12 -->
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.col-lg-8 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.blog-page -->

        <section class="newsletter ">
            <div class="newsletter__wrapper">
                <div class="newsletter__inner">
                    <div class="newsletter__bg" style="background-image: url({% static 'images/shapes/newsletter-bg-shape-1-1.png' %});"></div><!-- /.newsletter__bg -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-1 order-lg-0 wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="newsletter__image">
                                    <img src="{% static 'images/resources/newsletter-1-1.png' %}" alt="newsletter">
                                </div><!-- /.newsletter__image -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6 order-0 order-lg-1 wow fadeInUp" data-wow-duration="1500ms">
                                <div class="newsletter__content">
                                    <h2 class="sec-title bw-split-in-left">Join our AI-driven Creative Community!</h2><!-- /.sec-title -->
                                    <div class="customers">
                                        <div class="customers__inner">
                                            <div class="customers__image">
                                                <img src="{% static 'images/resources/customer-1.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-2.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-3.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-4.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-5.png' %}" alt="customer">
                                            </div><!-- /.customers__image -->
                                        </div><!-- /.customers__inner -->
                                        <p class="customers__text">3860 weekly subscribe</p>
                                    </div><!-- /.customers -->
                                    <form action="#" data-url="MAILCHIMP_FORM_URL" class="newsletter__form mc-form">
                                        <input type="email" name="EMAIL" placeholder="Email Address">
                                        <button type="submit" class="aigence-btn">
                                            <span class="aigence-btn__text">Subscribe</span>
                                        </button>
                                    </form><!-- /. mc-form -->
                                    <div class="mc-form__response"></div><!-- /.mc-form__response -->
                                    <div class="newsletter__check-box">
                                        <input type="checkbox" name="agree" id="agree">
                                        <label for="agree">I Agree To The Terms, Privacy Policy.<span></span></label>
                                    </div><!-- /.newsletter__check-box -->
                                </div><!-- /.newsletter__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.container -->
                    <img src="{% static 'images/shapes/newsletter-shape-1-1.png' %}" alt="shape" class="newsletter__shape">
                </div><!-- /.newsletter__inner -->
            </div><!-- /.newsletter__wrapper -->
        </section><!-- /.newsletter -->
{% endblock %}
