{% extends "index.html" %}
{% load static %}
{% block content %}
        <section class="page-header">
            <div class="page-header__bg" style="background-image: url({% static 'images/backgrounds/page-header-bg.jpg' %});"></div>
            <div class="container">
                <div class="page-header__content">
                    <h2 class="page-header__title">our services 02</h2>
                    <ul class="aigence-breadcrumb list-unstyled">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><span>our services</span></li>
                    </ul><!-- /.aigence-breadcrumb list-unstyled -->
                </div><!-- /.page-header__content -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="services-page section-space">
            <div class="container">
                <div class="row gutter-y-30">
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Data Analytics</a></h3>
                                <p class="service-card-two__text">We extract actionable insights from data using machine learning and predictive analytics.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-1.png' %}" alt="AI-Data Analytics">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Development</a></h3>
                                <p class="service-card-two__text">We build intelligent systems tailored with deep learning, neural networks, scalable software.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-2.png' %}" alt="AI-Development">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Design Mystery</a></h3>
                                <p class="service-card-two__text">We craft futuristic AI interfaces blending creativity, technology, interactive elements, and design.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-3.png' %}" alt="AI-Design Mystery">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Integration</a></h3>
                                <p class="service-card-two__text">We seamlessly connect AI with existing platforms for optimized workflows, improved efficiency.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-4.png' %}" alt="AI-Integration">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Chatbots</a></h3>
                                <p class="service-card-two__text">We design conversational agents to automate customer engagement, support queries.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-5.png' %}" alt="AI-Chatbots">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                    <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                        <div class="service-card-two">
                            <div class="service-card-two__bg"></div><!-- /.service-card-two__bg -->
                            <div class="service-card-two__content">
                                <h3 class="service-card-two__title"><a href="{% url 'service_details' %}">AI-Driven Automation</a></h3>
                                <p class="service-card-two__text">We streamline operations using intelligent task automation, smart systems, real-time monitoring.</p>
                                <div class="service-card-two__image">
                                    <img src="{% static 'images/services/service-2-6.png' %}" alt="AI-Driven Automation">
                                    <a href="{% url 'service_details' %}" class="service-card-two__btn">
                                        <span class="service-card-two__btn__icon"><i class="icon-right-arrow"></i></span>
                                    </a><!-- /.service-card-two__btn -->
                                </div><!-- /.service-card-two__image -->
                            </div><!-- /.service-card-two__content -->
                        </div><!-- /.service-card-two -->
                    </div><!-- /.col-xl-4 col-md-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.services-page section-space -->

        <section class="newsletter ">
            <div class="newsletter__wrapper">
                <div class="newsletter__inner">
                    <div class="newsletter__bg" style="background-image: url({% static 'images/shapes/newsletter-bg-shape-1-1.png' %});"></div><!-- /.newsletter__bg -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 order-1 order-lg-0 wow fadeInLeft" data-wow-duration="1500ms">
                                <div class="newsletter__image">
                                    <img src="{% static 'images/resources/newsletter-1-1.png' %}" alt="newsletter">
                                </div><!-- /.newsletter__image -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-lg-6 order-0 order-lg-1 wow fadeInUp" data-wow-duration="1500ms">
                                <div class="newsletter__content">
                                    <h2 class="sec-title bw-split-in-left">Join our AI-driven Creative Community!</h2><!-- /.sec-title -->
                                    <div class="customers">
                                        <div class="customers__inner">
                                            <div class="customers__image">
                                                <img src="{% static 'images/resources/customer-1.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-2.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-3.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-4.png' %}" alt="customer">
                                                <img src="{% static 'images/resources/customer-5.png' %}" alt="customer">
                                            </div><!-- /.customers__image -->
                                        </div><!-- /.customers__inner -->
                                        <p class="customers__text">3860 weekly subscribe</p>
                                    </div><!-- /.customers -->
                                    <form action="#" data-url="MAILCHIMP_FORM_URL" class="newsletter__form mc-form">
                                        <input type="email" name="EMAIL" placeholder="Email Address">
                                        <button type="submit" class="aigence-btn">
                                            <span class="aigence-btn__text">Subscribe</span>
                                        </button>
                                    </form><!-- /. mc-form -->
                                    <div class="mc-form__response"></div><!-- /.mc-form__response -->
                                    <div class="newsletter__check-box">
                                        <input type="checkbox" name="agree" id="agree">
                                        <label for="agree">I Agree To The Terms, Privacy Policy.<span></span></label>
                                    </div><!-- /.newsletter__check-box -->
                                </div><!-- /.newsletter__content -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row gutter-y-40 -->
                    </div><!-- /.container -->
                    <img src="{% static 'images/shapes/newsletter-shape-1-1.png' %}" alt="shape" class="newsletter__shape">
                </div><!-- /.newsletter__inner -->
            </div><!-- /.newsletter__wrapper -->
        </section><!-- /.newsletter -->
{% endblock %}
